--allman false
--indent 2
--commas inline

--disable wrapMultilineStatementBraces
--disable numberFormatting
--disable redundantClosure
--disable unusedArguments
--disable linebreakAtEndOfFile
--disable redundantVoidReturnType
--disable redundantSelf